{% extends 'layout.html' %}

{% block body %}

<div id='container'>
  <h1>Team members:</h1>
  <ul>
    <li>Lang Ding (ld698): <a href = "mailto: lang.ding@yale.edu">lang.ding@yale.edu</a></li>
    <li>Yuxuan Cheng (yc757): <a href = "mailto: yuxuan.cheng@yale.edu">yuxuan.cheng@yale.edu</a></li>
    <li>Shurui Wang (sw2349): <a href = "mailto: shurui.wang@yale.edu">shurui.wang@yale.edu</a></li>
  </ul>
</div>

<footer>
  <p>Website source code can be found <a href="https://github.com/JadenWSR/SteamProject">here</a>.</p>
</footer>

{% endblock %}
