{% extends 'layout.html' %}

{% block body %}
  <h1>{% block title %}To get started, please enter the following information: {% endblock %}</h1>
  <br>
    <form method="post">
        <label for="name"><h3>User name: </h3></label><br>
        <input type="text" name="name">
        <br>
        <br>
        <label for="game_entered"><h3>Please search and select a game you have played on Steam to start the recommendation: </h3></label><br>
        <input type=hidden name="game_entered" id="game" placeholder="Must enter the exact game name from Steam.">

  <!-- Please search and select a game you have played on Steam to start the recommendation: -->
    <input required type="text" id="gameInput" autoFocus>

    <div id="resultsParagraph"></div>
  <script src=
    "https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js">
          </script>
   <script>

    'use strict';

    function handleResponse(response)
    {
       let inner = ''
       if (response !== '') inner = "<hr>" + response;
       $('#resultsParagraph').html(inner);
    }

    let request = null;

    function getResults()
    {
       let author = $('#gameInput').val();
       author = encodeURIComponent(author);
       let url = '/searchresults?author=' + author

       if (request != null)
          request.abort();

       request = $.ajax({
          type: 'GET',
          url: url,
          success: handleResponse
       });
    }

    function setup()
    {
       $('#gameInput').on('input', getResults);
       $('body').on('click', 'tr', function() {
          let Game = $(this).eq(0).attr('game');
          $('#game').val(Game);
          $('#gameInput').val(Game);
       });
    }

    $('document').ready(setup);

 </script>

<br>
<label for="num"><h3>Number of games shown in the resulting recommendation(between 1 and 10): </h3></label><br>
<input type="number" name="num" min="1" max="10" value="5">
<br>
<hr>
<h2>Advanced Search. Narrow your results by...</h2>
<label for="tag"><h3>Tag (Separate multiple keywords with <strong>;</strong>): </h3></label><br>
<input type=text name="tag" placeholder="Any Tags">
<br>
<br>
<label for="genre"><h3>Genre (Separate multiple keywords with <strong>;</strong>): </h3></label><br>
<input type=text name="genre" placeholder="Any Genres">
<br>
<br>
<label for="category"><h3>Category (Separate multiple keywords with <strong>;</strong>): </h3></label><br>
<input type=text name="category" placeholder="Any Categories">

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
<input type="submit" value="Submit form" onclick="$('#loading').show();">
<div id="loading" style="display:none;"><center><img src="{{url_for('static', filename='loading.gif')}}" alt="" /><br><h1>Generating recommendation......</h1></center></div>
</form>
  <br /> 
{% endblock %}