{% extends 'layout.html' %}

{% block body %}

{% for index, row in messages.iterrows() %}
    <h1> Hello <strong>{{ row[1]}}</strong>!</h1>
    <br>
    <h2>The game you entered is: <strong>{{ row[2]}}</strong></h2>
    <br>
    <h2>Games we recommend for you are:</h2>
    <h2><strong>{{ row[3]}}</strong></h2>
  </tr>
  {% endfor %}
<br>
<h2>Please select one game to preview:</h2>
<div class="controls" id="dropdown_item">
<form action="/previewSingleGame", method = 'GET'>
<input type = "hidden" value = "{{id}}" name = "user_id">
<Select name="game_selected" required>
  <option value="" disabled selected>Click here to select</option>
  {% for game in games %}
      <option value="{{game}}">{{game}}</option>
  {% endfor %}
</Select>
<input type="submit" value="Submit">
</form>
</div>

<form action="{{ url_for('Resultssummary') }}">
  <button class = "button1" type="submit">Go back to the Summary page</button>
</form>

{% endblock %}