{% extends 'layout.html' %}

{% block body %}

{% if dict is defined %}
<center><img src={{link1}}></img></center>
<br>
<center><h1><strong>Information Summary</strong></h1></center>
<br>
<br>
<table id = "Table">
  {% for key, value in dict.items() %}
  <tr>
    <td><strong>{{key}}</strong></td>
    <td>{{value}}</td>
  </tr>
  {% endfor %}
</table>
{% endif %}
<a href={{link2}}>Click here to purchase this game on Steam!</a>
<br>
<br>

<form action="{{ url_for('preview') }}" method = 'get'>
  <input type = "hidden" value = "{{id}}" name = "user_id">
  <button class = "button" type="submit">Go back to the previous page</button>
</form>

<form action="{{ url_for('Resultssummary') }}">
  <button class = "button1" type="submit">Go back to the Summary page</button>
</form>

{% endblock %}