{% extends 'layout.html' %}

{% block body %}
<center>
<p><h2><strong>User Info and Recommendation Summary</strong></h2></p>
<br>
<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Enter a user name to search all records">
</center>

<p>Click any User Id to view more information.</p>
<center>
<table style="width:100%" id="myTable">
    <tr>
      <th>User Id</th>
      <th>User Name</th>
      <th>Game Entered</th>
      <th>Recommendation</th>
    </tr>
    {% for index, row in messages.iterrows() %}
    <tr>
      <form method="get" action="preview"><td>
        <button class = "button2" name = 'user_id' type="submit" formtarget="_blank" value="{{row[0]}}">{{ row[0]}}</button></td>
      </form>
      <td>{{ row[1]}}</td>
      <td>{{ row[2]}}</td>
      <td>{{ row[3]}}</td>
    </tr>
    {% endfor %}
  </table>
</center>

<script>
  function myFunction() {
    // Declare variables
    var input, filter, table, tr, td, i, txtValue;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    table = document.getElementById("myTable");
    tr = table.getElementsByTagName("tr");
  
    // Loop through all table rows, and hide those who don't match the search query
    for (i = 0; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td")[1];
      if (td) {
        txtValue = td.textContent || td.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
          tr[i].style.display = "";
        } else {
          tr[i].style.display = "none";
        }
      }
    }
  }
  </script>
<br>
<br>
<br>
{% if error %}
<br>Sorry, we don't have any users right now. 
{% endif %}


{% endblock %}
  